:root {
    --theme: #2E2E2E;
    --primaryColor: #61AFA6
}

* {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: var(--theme);
    display: flex;
    align-items: center;
    justify-content: center;
}


.piano, .octave {
    display: flex;
    flex-direction: row;
    width: max-content
}
.halfNoteDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: max-content;
    margin-left: calc(56px/2);
}
.wholeNote {
    width: calc(108.62px/2);
    height: calc(460.81px/2);
    border-radius: 0px 0px calc(16.46px/2) calc(16.46px/2);
    background-color: white;
    margin-right: calc(8.78px/2);
    cursor: pointer;
}
.wholeNote:hover {
    background-color: var(--primaryColor);
}

.piano > .octave:first-child > .wholeNote:first-child {
    border-top-left-radius: calc(16.46px/2);
}
.piano > .octave:last-child > .wholeNote:last-child {
    border-top-right-radius: calc(16.46px/2);
}
.halfNote {
    width: calc(72.41px/2);
    height: calc(307.21px/2);
    border: calc(5.49px/2) solid var(--theme);
    border-top: none;
    border-radius: 0px 0px calc(16.4575px/2) calc(16.4575px/2);
    background-color: black;
    margin-right: calc(65.83px/2);
    cursor: pointer;
}
.halfNote:hover {
    background-color: var(--primaryColor);
}


.wrapper {
    width: max-content;
}

.soundChangerWrapper {
    display: inline-block;
    width: min-content;
}
.soundChanger {
    margin: 9px;
    border: 1px solid white;
}
.soundChangerContent {
    display: flex;
    flex-direction: column;
}


.miniBox {
    width: 10px;
    height: 10px;
    background-color: var(--primaryColor);
    display: inline-block;
    margin-left: 2px;
}
.legendSpan {
    margin-right: 2px;
}

.rangeDiv {
    width: 230px;
    height: 30px;
}
.rangeSpan {
    position: absolute;
    margin-top: 6px;
    margin-left: 7px;
}
input[type="range"] {
    width: 180px;
    position: absolute;
    display: inline-block;
    margin-left: 40px;
    margin-top: 6px;
}
